<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=360,initial-scale=1,user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="stylesheets/weui.css">
</head>
<body>
<div class="page">
    <div class="weui_msg">
        <div class="weui_icon_area"><i class="weui_icon_info weui_icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title">您当前可以积分兑换</h2>
            <p class="weui_msg_desc">您当前的积分中的500分可以兑换一个10元微信红包</p>
        </div>
        <div class="weui_opr_area">
            <p class="weui_btn_area">
                <a href="javascript:;" class="weui_btn weui_btn_primary">立即兑换</a>
                <a href="javascript:;" data-id="home" class="weui_btn weui_btn_default">下次再说</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>