<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=360,initial-scale=1,user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="stylesheets/weui.css">
</head>
<body>
<div class="page user">
    <div class="logo">
        <img src="/images/logo.jpg">
        <p>前进 | 普通会员 | 96004积分</p>
    </div>
    <div class="weui_cells_title">基本信息</div>
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="javascript:;" data-id="namechange">
            <div class="weui_cell_bd weui_cell_primary">
                <p>昵称</p>
            </div>
            <div class="weui_cell_ft">前进</div>
        </a>
        <a class="weui_cell" href="javascript:;" data-id="choosecity">
            <div class="weui_cell_bd weui_cell_primary">
                <p>地区</p>
            </div>
            <div class="weui_cell_ft">天津市 河东区</div>
        </a>
        <a class="weui_cell" href="javascript:;" data-id="qcode">
            <div class="weui_cell_bd weui_cell_primary">
                <p>我的二维码</p>
            </div>
            <div class="weui_cell_ft">点击进入</div>
        </a>
    </div>
    <div class="weui_cells_title">人脉信息</div>
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="javascript:;" data-id="fanslist">
            <div class="weui_cell_bd weui_cell_primary">
                <p>粉丝数</p>
            </div>
            <div class="weui_cell_ft">43561</div>
        </a>
        <a class="weui_cell" href="javascript:;" data-id="fansrank">
            <div class="weui_cell_bd weui_cell_primary">
                <p>人脉排名</p>
            </div>
            <div class="weui_cell_ft">第 23 名</div>
        </a>
        <a class="weui_cell" href="javascript:;" data-id="firstlist">
            <div class="weui_cell_bd weui_cell_primary">
                <p>一度人脉</p>
            </div>
            <div class="weui_cell_ft">145</div>
        </a>
        <a class="weui_cell" href="javascript:;" data-id="secondlist">
            <div class="weui_cell_bd weui_cell_primary">
                <p>二度人脉</p>
            </div>
            <div class="weui_cell_ft">2489</div>
        </a>
        <a class="weui_cell" href="javascript:;" data-id="thirdlist">
            <div class="weui_cell_bd weui_cell_primary">
                <p>三度人脉</p>
            </div>
            <div class="weui_cell_ft">20984</div>
        </a>
    </div>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" data-id="change" href="javascript:" id="showTooltips">积分换红包</a>
    </div>
</div>
</body>
</html>