<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=360,initial-scale=1,user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="stylesheets/weui.css">
</head>
<body>
<div class="page user">
    <div class="weui_cells vip">
        <div class="weui_cell weui_cells_access">
            <div class="weui_cell_hd"><img src="./images/logo.jpg" alt="" style="margin-right:5px;display:block"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>[天津]前进</p>
                <p class="detail">这里是我的自我介绍</p>
            </div>
            <div class="weui_cell_ft">加好友</div>
        </div>
        <div class="weui_cell weui_cells_access">
            <div class="weui_cell_hd"><img src="./images/logo.jpg" alt="" style="margin-right:5px;display:block"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>[天津]前进</p>
                <p class="detail">这里是我的自我介绍</p>
            </div>
            <div class="weui_cell_ft">加好友</div>
        </div>
        <div class="weui_cell weui_cells_access">
            <div class="weui_cell_hd"><img src="./images/logo.jpg" alt="" style="margin-right:5px;display:block"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>[天津]前进</p>
                <p class="detail">这里是我的自我介绍</p>
            </div>
            <div class="weui_cell_ft">加好友</div>
        </div>
        <div class="weui_cell weui_cells_access">
            <div class="weui_cell_hd"><img src="./images/logo.jpg" alt="" style="margin-right:5px;display:block"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>[天津]前进</p>
                <p class="detail">这里是我的自我介绍</p>
            </div>
            <div class="weui_cell_ft">加好友</div>
        </div>
        <div class="weui_cell weui_cells_access">
            <div class="weui_cell_hd"><img src="./images/logo.jpg" alt="" style="margin-right:5px;display:block"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>[天津]前进</p>
                <p class="detail">这里是我的自我介绍</p>
            </div>
            <div class="weui_cell_ft">加好友</div>
        </div>
        <div class="weui_cell weui_cells_access">
            <div class="weui_cell_hd"><img src="./images/logo.jpg" alt="" style="margin-right:5px;display:block"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>[天津]前进</p>
                <p class="detail">这里是我的自我介绍</p>
            </div>
            <div class="weui_cell_ft">加好友</div>
        </div>
        <div class="weui_cell weui_cells_access">
            <div class="weui_cell_hd"><img src="./images/logo.jpg" alt="" style="margin-right:5px;display:block"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>[天津]前进</p>
                <p class="detail">这里是我的自我介绍</p>
            </div>
            <div class="weui_cell_ft">加好友</div>
        </div>
        <div class="weui_cell weui_cells_access">
            <div class="weui_cell_hd"><img src="./images/logo.jpg" alt="" style="margin-right:5px;display:block"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>[天津]前进</p>
                <p class="detail">这里是我的自我介绍</p>
            </div>
            <div class="weui_cell_ft">加好友</div>
        </div>
        <div class="weui_cell weui_cells_access">
            <div class="weui_cell_hd"><img src="./images/logo.jpg" alt="" style="margin-right:5px;display:block"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>[天津]前进</p>
                <p class="detail">这里是我的自我介绍</p>
            </div>
            <div class="weui_cell_ft">加好友</div>
        </div>
    </div>
</div>
</body>
</html>